.where__background-image {
  /* border: 2px solid blueviolet; */
  /* position: relative; */
  /* top: 5px;
  left: 5px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/background_block_where.jpg);
  margin-top: -80px;

}