.bunner {
  border: 2px solid black;
  width: 1148px;
  height: 595px;
  background: #00000035;
  backdrop-filter: blur(17.5px);
  position: absolute;
  left: 572px;
  top: calc(50% - 595px/2 + 0.5px);
}


