.where__subtitle {
  border: 1px solid green;
  margin: 0;
  color: #333333;
  padding-bottom: 12px;
  /* position: relative; */
  z-index: 1;
  max-width: 982px;
  height: 85px;
  font-family: 'Lato';
  line-height: 26.5px;
  font-size: 20px;
  font-weight: 700;
  /* top: 240px;
  left: 200px; */
}